{% extends "master.html" %}

{% load cart_tag %}

{% block body %}

<!-- <script>
    document.querySelectorAll('.cart_quantity_down').forEach(item => {
        item.addEventListener('click', event => {
            const input = event.target.parentNode.querySelector('.cart_quantity_input');
            const currentValue = parseInt(input.value);
            if (currentValue < 1) {
                alert('Quantity must be greater than 0');
                event.preventDefault();
            }
        });
    });
</script> -->

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for key,value in request.session.cart.items %}
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="{{value.image}}" alt="" style="height: 80px;"></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{value.name}}</a></h4>
                        </td>
                        <td class="cart_price">
                            <p>₹ {{value.price}}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href="{% url 'item_increment' value.product_id %}" name="cart_quantity_up"> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity"
                                       value="{{value.quantity}}" autocomplete="off" size="2" min="1">
                                <a class="cart_quantity_down" href="{% url 'item_decrement' value.product_id %}" name="cart_quantity_down"> - </a>
                            </div>
                            
                            
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">₹ {{ value.price|multiply:value.quantity }}
                            </p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="{% url 'item_clear' key %}"><i
                                    class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <td></td>
                    <td></td>
                    <td>
                        <hr>
                        <h4>Sub Total: </h4>
                    </td>
                    <td></td>
                    <td>
                        <hr>
                        <h4>₹ {{cart_total_amount}}</h4>
                    </td>
                </tfoot>
            </table>
        </div>
        <a href="{% url 'cart_clear' %}"
            style="font-size: 14px;padding: 6px 12px;color:rgb(255, 255, 255);background-color:rgb(232, 33, 33);border-radius: 4px;float:left;">Clear
            Cart</a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-whatever="@mdo" style="float: right;border-radius: 4px;" id="checkout-button">Checkout</button>    
    </div>
</section> <!--/#cart_items-->
<br>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/checkout/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Phone:</label>
                        <input type="text" name="phone" class="form-control" id="phone" pattern="\d{10}" title="Phone number must be numeric with 10 digits" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Address:</label>
                        <textarea class="form-control" name="address" id="address" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Pincode:</label>
                        <input type="text" name="pincode" class="form-control" id="pincode" pattern="\d{6}" title="Pincode must be numeric with 6 digits" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="border-radius: 4px;">Checkout</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

{% endblock body %}