{% extends 'master.html' %}
{% block body %}
<style>
    .container{
        font-family: "Abel", sans-serif;
        display: flex;
        justify-content: center;
    }
    
    .container col h2{
        font-weight: bold;
        margin-bottom: 20px;
    }

    .container col p{
        font-size: 18px;
        margin-bottom: 20px;
    }
</style>
<div class="container">
    <div class="col-sm-4">
        <h2>Password has been Changed</h2>
        <p>You May Go Ahead and Login Now</p>
        <a href="{% url 'login' %}" class="btn-btn-primary">Login</a>
        <br>
        <br>
    </div>
</div>

{% endblock body %}

